
.line-container{
    position : relative;
    width : 20vw;
    height : 20vw;
    border-radius : 10px;
    background-color: rgba(255, 0, 0, 1);

    &_title{
        position : absolute;
        top : 2.5vw;
        left : 2.5vw;
        width : 10vw;
        font-weight : bold;
        font-size : 15px;
        line-height : 24px;
        color : rgba(255, 255, 255, 0.5);
        @media screen and (max-width: 1200px) {
            top : 1.5vw;
            left : 1.5vw;
            width : 15vw;
            font-size : 14px;
        }
    }

    .custom-tooltip {
        padding : 2vh 1vw;
        background-color: rgba(255, 255, 255, 1);
    
        p{
            color : rgba(0, 0, 0, 1);
            font-size : 10px;
        }
    
    }
}

