.resume{
    display : flex;
    flex-direction: column;
    justify-content: space-between;
    gap : 2.7vh; 
    width : 100%;

    &_bloc{    
        padding : 3.3vh 1.8vw;
        border-radius : 5px;
        background-color: rgba(251, 251, 251, 1);   
        
        &-content{
            display : flex;
            align-items: center;
            gap : 1.25vw;

            &--icon{
                display : flex;
                justify-content: center;
                align-items: center;
                border-radius : 6px;
                width : 4.1vw;
                height : 4.1vw;
    
                &.calories {
                    background-color: #fbeaea;
                }
                  
                &.proteins {
                    background-color: #e9f4fb;
                }
                  
                &.glucids {
                    background-color: #fbf6e5;
                }
                  
                &.lipides {
                    background-color: #fbeaef;
                }
    
                img{
                    width : 1.25vw;
                    height : auto;
                }
            }
    
            &--txt{
                .bloc-title{
                    font-size : 20px;
                    font-weight : 700;
                    color : rgba(40, 45, 48, 1);
                }
    
                .bloc-subtitle{
                    font-size : 14px;
                    color : rgba(116, 121, 140, 1);
                }
            }
        }   
    }
}

