.nav{
    position : fixed;
    top : 0;
    left : 0;
    display : flex;
    justify-content: space-between;
    align-items : center;
    padding : 1.6vh 4.5vw 1.6vh 1.4vw; 
    width : 100%;
    background-color : rgba(2, 2, 3, 1);
    z-index : 2;

    &_logo{
        margin : 0;
        padding : 0;
        box-sizing: border-box;

        img{
            display : block;
            width : 12.3vw;
            height : auto;
        }
    }

    &_link{
        position : relative;
        color : white;
        font-size : 24px;
        transition : .3s ease;
        cursor : pointer;
        
        @media screen and (max-width: 1200px) {
            font-size : 20px;
        }

        &:hover{
            color : rgba(255, 0, 0, 1);
        }  
    }
}